
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes glow {
    0% { box-shadow: 0 0 5px var(--secundary), 0 0 10px var(--secundary); }
    50% { box-shadow: 0 0 7px var(--secundary), 0 0 12px var(--secundary); }
    100% { box-shadow: 0 0 5px var(--secundary), 0 0 10px var(--secundary); }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--secundary);
    font-family: "Montserrat", serif;
    scroll-behavior: smooth;
}

p {
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
}

:root {
    --main: #031926;
    --secundary: #75DDDD;
}

.container {
    height: 500vh;
    width: 100%;
    background-image: radial-gradient(circle at 9.06% 21.33%, #00547b 0, #021826 50%, #000000 100%);
}

/*HEADER */

header {
    height: 5%;
    width: 100%;
    background-color: var(--main);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

header a {
    list-style: none;
    margin-left: auto;
}

header > a:hover {
    text-shadow: 0 0 5px #4d9e9e, 0 0 10px #4d9e9e, 0 0 15px #4d9e9e;
}

header a:first-child {
    margin-left: 40%;
}

header a:last-child {
    margin-right: 20%;
}


/*FIRST SECTION */

.first-box {
    height: 100vh;
    width: 100%;
    /* background-image: radial-gradient(circle at 9.06% 21.33%, #00547b 0, #021826 50%, #000000 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
}


.first-box-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.first-box-left > p {
    margin: 2%;
    
}

.first-box-left > h1 {
    letter-spacing: 10px;
    
}


.first-box-left #software {
    text-shadow: 0 0 5px #4d9e9e, 0 0 10px #4d9e9e, 0 0 15px #4d9e9e;
    letter-spacing: 5px;
}

.first-box-right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

/*BUTTON */

button {
    height: 5vh;
    width: 10vw;
    background-color: #013F5D;
    border-radius: 5px;
    margin: 10px;
    border-color: white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: var(--secundary);
    color: var(--main);
}

a {
    text-decoration: none;
}

.imagem-apresentacao {
    height: 65%;
    width: 75%;
}

@keyframes subir-e-descer {
    0% {
        transform: rotate(90deg) translateX(0);
    }
    100% {
        transform: rotate(90deg) translateX(-10px);
    }
}

.seta {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 90%;
    animation: subir-e-descer 1s infinite alternate ease-in-out;
}

hr {
    width: 70%;
    margin: 2%;
}


/*SECOND SECTION */

.second-box {
    height: 100vh;
    width: 100%;
    /* background-image: radial-gradient(circle at 9.06% 21.33%, #00547b 0, #021826 50%, #000000 100%); */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
}


.second-box-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.second-box-right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

.second-box-right > p {
    margin: 10% 21% 6%;
}

.personal-pic {
    height: 400px;
    width: 400px;
    border-radius: 100%
}

#marca-de-verificacao {
    height: 30px;
    width: auto;
}
    
.third-box {
    height: 200vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10% 20%;
    padding: 10%;
    /* border: 2px solid red; */
    
}


.project {

    background-color: var(--main);
    border: 2px solid var(--secundary);
    animation: glow 2.5s infinite alternate ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.project img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;

}

.project-info > p {
    font-size: 1rem;
    margin: 10px;
}

 .fourth-box {
    height: 100vh;
    width: 100%;
    background-color: var(--main);
    display: flex;
    
}

.fourth-box-left {
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}


.fourth-box-right {
    height: 100vh;
    width: 50%;
    background-color: #002737;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
 }

 form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

form > button {
    width: 50%;
}

#email,
textarea {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    border-color: var(--secundary);
    /* border-style: hidden; */
    outline: none;
    margin-top: 5px;
    resize: vertical;
    color: var(--main);
}

#email::placeholder,
textarea::placeholder {
    color: #aaa;
    font-size: 1rem;
    font-style: italic;
}

#submit {
    margin: auto;
}

footer {
    position: absolute;
    width: 100%;
    font-size: small;
    text-align: center;
    background-color: var(--main)
}

#more-info-button {
    background-color: var(--main);
    border-color: white;
}

#more-info-button:hover {
    background-color: var(--secundary);
}

    